{% INCLUDEJS '@hifikabin_amazonaffiliate/js/amazonaffiliate.js' %}

<script>
var universalCode;
universalCode = {
	'amazon{{ lang( 'AMAZONAFFILIATE_COUK' )|escape('js') }}': 'tag={{ AMAZONAFFILIATE_COUK |escape('js')}}',
	'amazon{{ lang( 'AMAZONAFFILIATE_COM' )|escape('js') }}': 'tag={{ AMAZONAFFILIATE_COM |escape('js')}}',
	'amazon{{ lang( 'AMAZONAFFILIATE_FR' )|escape('js') }}': 'tag={{ AMAZONAFFILIATE_FR |escape('js')}}',
	'amazon{{ lang( 'AMAZONAFFILIATE_DE' )|escape('js') }}': 'tag={{ AMAZONAFFILIATE_DE |escape('js')}}',
	'amazon{{ lang( 'AMAZONAFFILIATE_CA' )|escape('js') }}': 'tag={{ AMAZONAFFILIATE_CA |escape('js')}}',
	'amazon{{ lang( 'AMAZONAFFILIATE_JP' )|escape('js') }}': 'tag={{ AMAZONAFFILIATE_JP |escape('js')}}',
	'amazon{{ lang( 'AMAZONAFFILIATE_IT' )|escape('js') }}': 'tag={{ AMAZONAFFILIATE_IT |escape('js')}}',
	'amazon{{ lang( 'AMAZONAFFILIATE_CN' )|escape('js') }}': 'tag={{ AMAZONAFFILIATE_CN |escape('js')}}',
	'amazon{{ lang( 'AMAZONAFFILIATE_ES' )|escape('js') }}': 'tag={{ AMAZONAFFILIATE_ES |escape('js')}}',
	'amazon{{ lang( 'AMAZONAFFILIATE_AU' )|escape('js') }}': 'tag={{ AMAZONAFFILIATE_AU |escape('js')}}',
	'amazon{{ lang( 'AMAZONAFFILIATE_MX' )|escape('js') }}': 'tag={{ AMAZONAFFILIATE_MX |escape('js')}}',
	'amazon{{ lang( 'AMAZONAFFILIATE_IN' )|escape('js') }}': 'tag={{ AMAZONAFFILIATE_IN |escape('js')}}',

	'amzn{{ lang( 'AMAZONAFFILIATE_COUK' )|escape('js') }}': 'tag={{ AMAZONAFFILIATE_COUK |escape('js')}}',
	'amzn{{ lang( 'AMAZONAFFILIATE_COM' )|escape('js') }}': 'tag={{ AMAZONAFFILIATE_COM |escape('js')}}',
	'amzn{{ lang( 'AMAZONAFFILIATE_FR' )|escape('js') }}': 'tag={{ AMAZONAFFILIATE_FR |escape('js')}}',
	'amzn{{ lang( 'AMAZONAFFILIATE_DE' )|escape('js') }}': 'tag={{ AMAZONAFFILIATE_DE |escape('js')}}',
	'amzn{{ lang( 'AMAZONAFFILIATE_CA' )|escape('js') }}': 'tag={{ AMAZONAFFILIATE_CA |escape('js')}}',
	'amzn{{ lang( 'AMAZONAFFILIATE_JP' )|escape('js') }}': 'tag={{ AMAZONAFFILIATE_JP |escape('js')}}',
	'amzn{{ lang( 'AMAZONAFFILIATE_IT' )|escape('js') }}': 'tag={{ AMAZONAFFILIATE_IT |escape('js')}}',
	'amzn{{ lang( 'AMAZONAFFILIATE_CN' )|escape('js') }}': 'tag={{ AMAZONAFFILIATE_CN |escape('js')}}',
	'amzn{{ lang( 'AMAZONAFFILIATE_ES' )|escape('js') }}': 'tag={{ AMAZONAFFILIATE_ES |escape('js')}}',
	'amzn{{ lang( 'AMAZONAFFILIATE_AU' )|escape('js') }}': 'tag={{ AMAZONAFFILIATE_AU |escape('js')}}',
	'amzn{{ lang( 'AMAZONAFFILIATE_MX' )|escape('js') }}': 'tag={{ AMAZONAFFILIATE_MX |escape('js')}}',
	'amzn{{ lang( 'AMAZONAFFILIATE_IN' )|escape('js') }}': 'tag={{ AMAZONAFFILIATE_IN |escape('js')}}',
	};
</script>
