# General Information about this style
name = wefrag_newdark
copyright = © Wefrag, 2021
style_version = 1.2.0
phpbb_version = 3.2.9

# Defining a different template bitfield
# template_bitfield = lNg=

# Parent style
# Set value to empty or to this style's name if this style does not have a parent style
parent = wefrag
